<%= form_for([@city, @group]) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<center>
Give your group a cool name:<br>
<%= f.text_field :name, :placeholder => "Power Attorneys & CPAs" %><br>

Name of venue, if you don't have one yet just put TBD:<br>
<%= f.text_field :venue, :placeholder => "The W Hotel Lounge" %><br>

Address of venue, if you don't have one yet just put TBD:<br>
<%= f.text_field :address, :placeholder => "200 Rt. 110 Melville, NY" %><br>

This group will meet: <br>
<%= f.select :time, [['Daily', 'Daily'], ['Weekly', 'Weekly'], ['Bi-Weekly', 'Bi-weekly'], ['Monthly', 'Monthly']] %><br>

<b>Group Description:</b> In a few sentences explain what your group is all about.<br>
<%= f.text_area :description, :class=> "input-xxlarge", :placeholder => "This is a business networking group for attorneys practicing law in varying specialties." %> <br>

<b>Meeting Date/Time:</b> Provide more specifics on the date and time of your meetings. <br>
<%= f.text_area :time_specific, :class=> "input-xxlarge", :placeholder => "We meet every Thursday at 7 AM" %><br>

<b>Rules:</b> You can set any rules or expectations for your group (Optional).<br>
<%= f.text_area :rules, :class=> "input-xxlarge", :placeholder => "We allow a maximum of 3 absences per quarter" %>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
</center>
		</div>
	</div>
</div>		

