<%= form_for @group do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

Name:
<%= f.text_field :name %><br>

Venue:
<%= f.text_field :venue %><br>

Address:
<%= f.text_field :address %><br>

When and how often does this group meet?:
<%= f.text_field :time %><br>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
