<p id="notice"><%= notice %></p>

<div class="row-fluid">
	<div class="span12">
		<div id="group-show-title">	
			<%= @group.name %>
		</div>	
	</div>
</div>


<div class="row-fluid">
	<div class="span12">
		<div id="group-hello-member">	
		 Welcome <%= current_user.first_name %>!
		</div>	
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div id="group-users-count">	
		 This group has <%= pluralize("#{@group.users.count}", 'member') %>
		</div>	
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div id="group-summary-heading">
			The following industries are represented in this group:
		</div>	
			<div id="group-industries-list">	
				<% @group.memberships.each do |membership| %>
				<div id="group-industries-list-item">	
				<%= membership.user.industry %>
				</div>
				<% end %>
			</div>
	</div>
</div>


<div class="row-fluid">
	<div class="span12">
			<div id="group-enter-button">
			<% if %>
			<% @group.users.where(:email => "#{current_user.email}").exists? %>
			<%= link_to group_page_path(@group.group_page.id), :class => "group-enter-button-css" do %>
			<%= "Go To Group Dashboard" %>
			<% end %>
			<% end %>
			</div>
	</div>
</div>

<% if @group.users.count < 13 && unless @group.users.where(:industry => "#{current_user.industry}").exists? %>
<div class="row-fluid">
	<div class="span12">
		<div id="group-join-button">
			<%= link_to "Join Group", join_group_path(@group) %><br>	
		</div>	
	</div>
</div>

<% end %>
<% end %>



	


