<p id="notice"><%= notice %></p>

<%= @group.name %> (<%= @group.users.count %>/12)	<br><br>
Members:<br>

<% @group.memberships.each do |membership| %>
<%= membership.user.email %><br>

<% if membership.user.email == current_user.email %>
<%= link_to "Enter Group", group_page_path(@group.group_page.id) %>
<% end %>
<% end %>
<br>

<br><br>
<% if @group.users.count < 13 %>
<%= link_to "Join Group", join_group_path(@group) %><br>
<% end %>
<%= link_to "Leave Group", unjoin_group_path(@group) %>
	


