<p id="notice"><%= notice %></p>

<%= @group.name %><br><br>
Members:<br>
<% @group.memberships.each do |membership| %>
<%= membership.user.email %>
<% end %>

	<%= link_to "Join", join_group_path(@group) %> 
	<%= link_to "Leave", unjoin_group_path(@group) %>	


