<div class="row-fluid">
<div class="span12">
	<div id="group-show-background">
			<div class="row-fluid">		
				<div class="span4">
					<div class="member-count-border">
					<div class="member-count">
						<%= @group.memberships.count %><br>
					</div>
					<div class="member-word-members"><br>
					members
					</div>
					</div>
				</div>
		
		<div class="span8">
			<div class="group-name-title">
				<%= @group.name %>
			</div>
		</div>
		</div>
			<div class="row-fluid">
			<div class="span12">
				<div class="group-show-subheading">
					<center>Meets <%= @group.time.downcase %> at <%= @group.venue %> <%= @group.address %>  </center>
					</div>
			</div>
			</div>
		
		
	</div>
</div>
</div>

</div>
<div class="container">
		<%= flash[:notice] %>

<% if user_signed_in? %>	

<div class="row-fluid">
	<div class="span12">
		<% if @group.memberships.count < 13 && unless @group.users.where(:email => "#{current_user.email}").exists? %>
		<div id="group-join-button">
			<%= link_to "Join Group", join_city_group_path(@group.city.id,@group), :confirm => "Are you sure you want to join this group?" %><br>	
		</div>	
		<% else %>
		<div id="group-join-button">
			<%= link_to "Leave Group", unjoin_city_group_path(@group.city.id,@group), :confirm => "Are you sure you want to do leave the group?" %><br>	
		</div>
		<% end %>
		<% end %>
	</div>
</div>	

<% if @group.users.where(:email => "#{current_user.email}").exists? %>

<div class="row-fluid">
	
<div class="span2">
	<% @group.memberships.each do |members| %><br>
	<%= gravatar_tag members.user.email, :size => 80 %><br>
	<% end %>
</div>

<div class="span6">
	<% @group.memberships.each do |members| %><br>
	<div class="group-member-name">
	<%= members.user.first_name %> <%= members.user.last_name %> 
	</div>
	<%= members.user.industry %><br>
	<%= link_to "Contact Me", "mailto:#{members.user.email}" %>
	<% end %>
</div>

<div class="span4">
	<b>Description</b><br>
	<%= @group.description %>
</div>
		
</div>

<%= link_to "Edit", edit_group_path%>

<% end %>
<% end %>



