<p id="notice"><%= notice %></p>

<div class="row-fluid">
	<div class="span12">
		<div id="group-show-title">	
			<%= @city.name %> 
		</div>	
	</div>
</div>

<% if user_signed_in? %>

<%#- This is Semantic UI, used to add a dynamic sidebar -%>

      <div class="ui thin vertical inverted labeled icon left overlay sidebar menu">	
      </div>
        <div class="ui black huge launch right attached button">
	        <span class="text" style="display:none;"></span>
	        <i class="icon list layout"></i>
        </div>

<div class="ui sidebar"> 
		<div class="row-fluid">
			<div class="span12">
				
				
<script>
$(".launch.button").mouseenter(function(){
		$(this).stop().animate({width: '70px'}, 300, 
             function(){$(this).find('.text').show();});
	}).mouseleave(function (event){
		$(this).find('.text').hide();
		$(this).stop().animate({width: '70px'}, 300);
	});
$(".ui.sidebar").sidebar({overlay: false})
                .sidebar('attach events','.ui.launch.button');
</script>


<% unless current_user.memberships.exists? %>				
<%= link_to new_city_group_path(@city), :class =>"new-city-group-button" do %>
<div class="positive ui button">Start a Group</div>	
</div>
<% end %>
<% end %>

 <% if current_user.groups.exists? %>
	<div class="ui piled segment">
	  <center><h4>My Group</h4></center>
	 <% current_user.groups.each do |user_group| %>
		<center><%= link_to user_group.name, city_group_path(user_group.city_id,user_group.id) %></center>
		<% end %>
	</div>
		<% end %>
		
<% if current_user.memberships.exists? %>
<div class="ui piled segment">
  <center><h4>Joined Group</h4></center>
  <% current_user.memberships.each  do |membership| %>
  <center><%= link_to membership.group.name, city_group_path(membership.group.city.id,membership.group.id) %></center>
  <% end %>
</div>
	<% end %>

		    </div>
	    </div>
</div>

<% end %>

<div class="container">

<div class="row-fluid">
		
	<div class="row-fluid">
	<div class="span3">
	<b>NAME</b>
	<br>
	<hr>

	<% @city.groups.each do |group| %>
	<%= link_to group.name, city_group_path(@city, group.id) %><br><br>
	<% end %>
	</div>


	<div class="span3">
	<b>MEMBERS</b><br><hr>
	<% @city.groups.each do |group| %>
	<%= group.memberships.count %>/12<br><br>
	<% end %>
	</div>


	<div class="span3">
	<b>FREQUENCY</b><br><hr>
	<% @city.groups.each do |group| %>
	<%= group.time %><br><br>
	<% end %>
	</div>

	<div class="span3">
	<b>DESCRIPTION</b><br><hr>
	<% @city.groups.each do |group| %>
	<%= group.description %><br><br>
	<% end %>

</div>