<%= form_for @user, url: wizard_path do |f| %>
  <h2>Your Professional Profile</h2>

	First Name:<br>
	<%= f.text_field :first_name %><br>
	
	Last Name:<br>
	<%= f.text_field :last_name %><br>

  	Company:<br>
  	<%= f.text_field :company %><br>

	Title:<br>
	<%= f.text_field :title %><br>

	Industry:<br>
	<%= f.select :industry, [['Advertising' , 'Advertising'], ['Automotive' , 'Automotive'], ['Business Services' , 'Business Services'], ['Consulting Services' , 'Consulting Services'], ['Construction' , 'Construction'], ['Education' , 'Education'], ['Entertainment' , 'Entertainment'], ['Entrepreneur' , 'Entrepreneur'], ['Financial Services' , 'Financial Services'], ['Food & Beverages', 'Food & Beverages'], ['Government' , 'Government'], ['Healthcare' , 'Healthcare'], ['Information Technology' , 'Information Technology'], ['Insurance' , 'Insurance'],['Law' , 'Law'],['Marketing' , 'Marketing'], ['Non-Profit' , 'Non-Profit'],['Retail & Consumer Goods' , 'Retail & Consumer Goods'],['Real Estate' , 'Real Estate'],['Telecommunications' , 'Telecommunications'],['Other/Not Listed', 'Other/Not Listed']] %><br>
	
	What is your area of focus?<br>
	<%= f.text_field :focus_area %><br>

	
<%= f.submit "Submit" %>
<% end %>